<header id="greeting">
  <h1>Laugh Tracks</h1>
</header>
<section class="statistics-info">
  <h5 class="statistics-header">Comedian Statistics:</h5>
  <% if @comedians.empty? %>
    <h6>No comedians available.</h6>
  <% else %>
    <ul class="statistics-list">

      <li>Average age: <%= @average_age %></li>
      <li>Comedian specials: <%= @specials.count %></li>
      <li>Average special run time: <%= @average_length %>min.</li>
      <li>Comedian home towns:
        <ul id="home-town-list">
        <% @unique_city_comedians.each do |comedian| %>
          <li><a href="?city=<%= comedian.city %>"><%= comedian.city %></a></li>
        <% end %>
      </ul>
      </li>
    </ul>
  <% end %>
</section>

<% @comedians.each do |comedian| %>
  <div id="comedian_<%= comedian.id %>">
    <h3><a href="/items/<%= comedian.id %>"><%= comedian.name %></a></h3>
    <ul>
      <li>Name: <%= comedian.name %></li>
      <li>Age: <%= comedian.age %></li>
      <li>City: <%= comedian.city %></li>
    </ul>
    <div id="specials">
      <h4>Specials (<%= comedian.specials.count %>):</h4>
      <% comedian.specials.each do |special| %>
        <%= special.name %>(<%= special.run_time %> min.)<br>
        <img src=<%= special.image %> height="42" width="42"><br>
      <% end %>
    </div>
  </div>
<% end %>

<% if params.empty? %>
  <a href="/comedians/new">New Comedian</a>
<% end %>
