<header>
  <h1>Laugh</h1>
  <nav>
    <a href="/comedians">Home</a>
    <% if params.empty? %>
      <a href="/comedians/new" id="add-button">Add Comedian</a>
    <% end %>
  </nav>
  <h2>Tracks</h2>

</header>

<section class="hero">
  <section class="statistics-info">
    <h5 class="statistics-header">Set List:</h5>
    <% if @comedians.empty? %>
      <h6>No comedians available.</h6>
    <% else %>
      <ul class="statistics-list">

        <li>Average age: <%= @average_age %></li>
        <li>Comedian specials: <%= @specials.count %></li>
        <li>Average special run time: <%= @average_length %>min.</li>
        <li>Comedian home towns:
          <ul id="home-town-list">
          <% @comedians.unique_cities.each do |city| %>
            <li><a href="?city=<%= city %>"><%= city %></a></li>
          <% end %>
        </ul>
        </li>
      </ul>
    <% end %>
  </section>

  <section id="comedian">
    <% @comedians.each do |comedian| %>
      <div id="comedian_<%= comedian.id %>">
        <article class="comedian-info">
          <img src=<%= comedian.headshot %> alt="comedian headshot"><br>
          <a href="/comedians/<%= comedian.id %>"><%= comedian.name %></a>
          <ul class="basic-comedian-info">
            <li>Name: <%= comedian.name %></li>
            <li>Age: <%= comedian.age %></li>
            <li>Birth City: <%= comedian.city %></li>
          </ul>
        </article>
        <div id="specials">
          <h4>Specials (<%= comedian.specials.count %>):</h4>
          <% comedian.specials.each do |special| %>
            <%= special.name %>(<%= special.run_time %> min.)<br>
            <img src=<%= special.image %> height="42" width="42"><br>
          <% end %>
        </div>
      </div>
    <% end %>
  </section>
</section>
