<header>
  <h1>Laugh</h1>
  <h2>Tracks</h2>

  <nav>
    <a href="/comedians" id="home-button">Home</a>
    <% if params.empty? %>
      <a href="/comedians/new" id="add-button">Add Comedian</a>
    <% end %>
  </nav>
</header>

<section class="hero">
  <div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% if @comedian.nil? %>
          <h6>Comedian not available.</h6>
        <% end %>
        <div class="carousel-item active">
          <div id="comedian_<%= @comedian.id %>">
            <img class="d-block" src=<%= @comedian.headshot %> alt="Comedian <%= @comedian.id %> slide">
            <div class="carousel-caption-name">
              <a href="/comedians/<%= @comedian.id %>" class="comedian-name"><%= @comedian.name %></a>
              <ul class="comedian-carousel-info">
                <li>Name: <%= @comedian.name %></li>
                <li>Age: <%= @comedian.age %></li>
                <li>Birth City: <%= @comedian.city %></li>
              </ul>
              <div class="specials-header">
                <h4>Specials (<%= @comedian.specials.count %>):</h4>
                <ul class="specials-list">
                  <% @comedian.specials.each do |special| %>
                    <article class="single-special">
                      <h1 class="special-name"><%= special.name %>(<%= special.run_time %> min.)</h1><br>
                      <img src=<%= special.image %>><br>
                    </article>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
